.card-img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50%;
}

.user-name {
    font-weight: 500;
}

.icon{
    font-size: 10px;
}

.show-user {
    font-size: 11px;
    color: #005cbb;
    cursor: pointer;
    text-decoration: underline;
}

.page-link {
    cursor: pointer !important;
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}